

@keyframes randomizerBe-8302dbff {
    0% {
        opacity: 1;
        transform: scale(1);
    }
    25% {
        opacity: 0.75;
        transform: scale(1.2);
    }
    50% {
        opacity: 0.5;
        transform: scale(0.8);
    }
    75% {
        opacity: 0.25;
        transform: scale(1.5);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes randomizer-8302dbff {
    0% {
        transform: rotate(0) translateZ(0);
    }
    100% {
        transform: rotate(1turn) translateZ(0);
    }
}

@keyframes blink-3089695e {
    0% {
        opacity: 1;
        transform: scale(1.5);
    }
    1% {
        opacity: 1;
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(1);
    }
}

@property
    --a{
    syntax: "<angle>";
    inherits: false;
    initial-value: 0deg;
    }


.page{
    contain: none;
    position: relative;
}

.ai-act-wrap{
    --string-progress: 0;
    position: relative;
}

.ai-act-wrap .ai-bg{
    align-items: center;
    contain: paint;
    display: flex;
    height: 150vh;
    height: calc(var(--vh, 1vh)* 150);
    justify-content: center;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.ai-act-wrap .ai-bg.-inview span[data-v-8302dbff]:first-child {
    animation: randomizer-8302dbff 12s linear infinite reverse !important;
}


.ai-act-wrap .ai-bg.-inview span[data-v-8302dbff]:first-child:before {
    content: ''; 
    animation: randomizerBe-8302dbff 9s ease-in-out infinite;
}

@media (min-width: 1024px) {
    .ai-act-wrap .ai-bg span[data-v-8302dbff]:first-child {
        width: 8%;
    }
}

.ai-act-wrap .ai-bg span[data-v-8302dbff]:first-child {
    transform-origin: 100% 80%;
}

.ai-act-wrap .ai-bg span[data-v-8302dbff] {
    display: block;
    position: absolute;
}



.ai-act-wrap .ai-bg span[data-v-8302dbff]:before {
    background-color: var(--c-green);
    border-radius: 50%;
    content: "";
    display: block;
    padding-bottom: 100%;
    width: 100%;
}
.ai-act-wrap .ai-bg.-inview span[data-v-8302dbff] {
    animation: randomizer-8302dbff 9s linear infinite !important
}

.ai-act-wrap .ai-bg.-inview span[data-v-8302dbff]:before {
    animation: randomizerBe-8302dbff 12s ease-in-out infinite;
}
.ai-act-wrap .ai-bg span[data-v-8302dbff]:before {
    background-color: var(--c-green);
    border-radius: 50%;
    content: "";
    display: block;
    padding-bottom: 100%;
    width: 100%;
}

@media (min-width: 1024px) {
    .ai-act-wrap .ai-bg span[data-v-8302dbff] {
        top: 30%;
        transform-origin: 100% 80%;
        width: 13%;
    }
}

.ai-act-wrap .ai-bg.-inview span[data-v-8302dbff]:last-child {
    animation: randomizer-8302dbff 6s linear infinite !important
}
@media (min-width: 1024px) {
    .ai-act-wrap .ai-bg span[data-v-8302dbff]:last-child {
        width: 10%;
    }
}
.ai-act-wrap .ai-bg span[data-v-8302dbff]:last-child {
    transform-origin: 20% 40%;
}
@media (min-width: 1024px) {
    .ai-act-wrap .ai-bg[data-v-8302dbff]:after {
        -webkit-backdrop-filter: blur(2rem);
        backdrop-filter: blur(2rem);
    }
}

.ai-act-wrap .ai-bg.-inview span[data-v-8302dbff]:last-child:before {
    animation: randomizerBe-8302dbff 15s ease-in-out infinite;
}
.ai-act-wrap .ai-bg span[data-v-8302dbff]:last-child:before {
    background-color: var(--c-blue-light);
}



.ai-bg:after {
    -webkit-backdrop-filter: blur(2rem);
    backdrop-filter: blur(2rem);
    background-color:rgba(244,249,248,calc(.1 + var(--string-progress)*.9));
    content: "";
    display: table;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
@media (min-width: 1024px) {
     .ai-bg:after {
        -webkit-backdrop-filter: blur(2rem);
        backdrop-filter: blur(2rem);
    }
}
@media (min-width: 720px) {
    .ai-bg:after {
        -webkit-backdrop-filter: blur(4rem);
        backdrop-filter: blur(4rem);
   }
}

.ai-act-wrap .c-welcome[data-v-8302dbff] {
    contain: paint;
    position: relative;
}

.ai-act-wrap .c-welcome .-w[data-v-8302dbff] {
    display: flex;
    flex-direction: column;
    height: 90vh;
    height: calc(var(--vh, 1vh)* 90);
    justify-content: flex-start;
    min-height: 780px;
}

@media (min-width: 1024px) {
    .ai-act-wrap .c-welcome .-w[data-v-8302dbff] {
        height: 100vh;
        height: calc(var(--vh, 1vh)* 100);
    }
}

@media (min-width: 1024px) and (min-height: 640px) {
    .-w {
        margin-left: 6%;
        margin-right: 6%;
    }
}

.-w-in{
    margin-left: -.5rem;
    width: 100%;
    width: calc(100% + 1rem);
    text-align: center;
    padding-top: clamp(7rem, 10%, 10%);
}

.head-1{
    font-size: 3.988rem;
    line-height: 1;
    display: block;
    margin-bottom: 1.2rem;
}

@media (min-width: 1024px) {
    .-w-in>span[data-v-8302dbff] {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 1rem;
        width: 45.07042254%;
        font-weight: 400;
    }
}

.para-1{
    font-size: 1rem;
    margin: 0px 20rem 1rem 20rem;
    position: relative;
    text-align: center;
}

@media(min-width:720px) and (max-width:1500px){
    .para-1{
        font-size: 1rem;
        margin: 0px 10rem 1rem 10rem;
    }
}

.ai-act-wrap .c-welcome .-w .-w-in p span[data-v-8302dbff] {
    align-items: center;
    display: flex;
    padding: 0 .5rem;
    white-space: nowrap;
}

.para-2{
    color: var(--c-grey-dark);
    font-size: .7rem;
    line-height: 1.5;
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 20rem;
    padding-right: 2rem;
}
@media(min-width:720px) and (max-width:1500px){
    .para-2{
        font-size: .7rem;
        margin: 0px 10rem 1rem 10rem;
    }
}

.downImage{
    margin-right: 5px;
}

.ai-act-wrap .c-welcome .-w .-w-in p span[data-v-8302dbff] .downImage{
    width: 2rem;
}

.-a-to-top-s-out {
    filter: blur(1rem);
    opacity: 0;
    transform: translateY(calc(var(--l-modifier)* 4rem)) scale(calc(var(--l-modifier)* 1.5));
}

html.-loaded.-ready .-a-to-top-s-out{
    filter: blur(0);
    opacity: 1;
    transform: translateZ(0);
    transition: transform .9s var(--f-cubic), opacity .9s var(--f-cubic), filter .9s var(--f-cubic);
    transition-delay: calc(var(--l-delay)* 1s + .15s);
}
.head-1{
    --l-modifier: 1;
    --l-delay: 0;
}

@media (min-width: 1024px) {
    .ai-act-wrap .c-welcome .-w footer[data-v-8302dbff] {
        align-items: flex-end;
        display: flex;
        justify-content: space-between;
        padding-bottom: 1rem;
        position: relative;
    }
}

.ai-act-wrap .c-welcome .-w footer[data-v-8302dbff] {
    margin-top: auto;
}

.ai-act-wrap .c-welcome .-w footer .form-wrap[data-v-8302dbff] {
    width: 100%;
}

@media (min-width: 1442px) {
    .ai-act-wrap .c-welcome .-w footer .form-wrap .form-cta[data-v-8302dbff] {
        max-width: 20rem;
        width: 28.16901408%;
    }
}

@media (min-width: 1024px) {
    .ai-act-wrap .c-welcome .-w footer .form-wrap .form-cta[data-v-8302dbff] {
        width: 32.3943662%;
    }
}

@media (min-width: 720px) {
    .ai-act-wrap .c-welcome .-w footer .form-wrap .form-cta[data-v-8302dbff] {
        width: 49.29577465%;
    }
}

.ai-act-wrap .c-welcome .-w footer .form-wrap .form-cta[data-v-8302dbff] {
    box-sizing: border-box;
}

@media (min-width: 1442px) {
    .ai-act-wrap .c-welcome .-w footer .form-wrap .form-cta[data-v-8302dbff] {
        max-width: 20rem;
        width: 28.16901408%;
    }
}

@media (min-width: 1024px) {
    .ai-act-wrap .c-welcome .-w footer .form-wrap .form-cta[data-v-8302dbff] {
        width: 32.3943662%;
    }
}

.form-cta {
    background-color: var(--c-white);
    -webkit-mask: url(../CssFile/images/r30-black.svg);
    mask: url(../CssFile/images/r30-black.svg);
    overflow: hidden;
    padding: .5rem 1rem 1rem;
    position: relative;
}

 .form  {
    position: relative;
}

.form-cta .form header figure[data-v-3089695e] {
    margin-right: .5rem;
    width: 3rem;
}

.-h5 {
    font-size: 1.414rem;
}

.-h4, .-h5, h4, h5 {
    line-height: 1.25;
}

.-h1, .-h2, .-h3, .-h4, .-h5, .-h6 {
    display: block;

}

 header {
    align-items: center;
    display: flex;
    margin-bottom: .25rem;
}

 figure {
    margin-right: .5rem;
    width: 3rem;
}

figure {
    display: block;
    margin-block-end: 0;
    margin-block-start: 0;
    margin-inline-end: 0;
    margin-inline-start: 0;
}

@media (min-width: 1024px) {
    .button[data-v-e3fde6b2] {
        min-width: 10rem;
    }
}

.button[data-v-e3fde6b2] {
    align-items: center;
    background-color: rgba(var(--c-grey-light-rgb), .1);
    box-sizing: border-box;
    color: var(--c-green);
    cursor: pointer;
    display: flex;
    justify-content: center;
    -webkit-mask: url(../CssFile/images/r30-black.svg);
    mask: url(../CssFile/images/r30-black.svg);
    min-width: 13rem;
    overflow: hidden;
    padding: .45rem 1.1rem;
    position: relative;
}

.-m, .-p {
    line-height: 1.5;
}

.-p {
    display: block;
    font-size: 1rem;
}

a {
    color: var(--c-black);
    text-decoration: none;
}

.button[data-v-e3fde6b2]:before {
    background-color: var(--c-black);
    bottom: 2px;
    content: "";
    left: 2px;
    -webkit-mask: url(../CssFile/images/r30-black.svg);
    mask: url(../CssFile/images/r30-black.svg);
    position: absolute;
    right: 2px;
    top: 2px;
    border-radius: 9px;
}

@media (min-width: 1024px) {
    .button .text[data-v-e3fde6b2] {
        align-items: center;
        flex-direction: row;
        justify-content: flex-start;
    }
}

.button .text[data-v-e3fde6b2] {
    align-items: flex-start;
    display: flex;
    justify-content: center;
    margin-right: auto;
    min-height: 2rem;
    padding: .25rem 0;
}

@media (min-width: 1024px) {
    .button .text>span[data-v-e3fde6b2]:first-child {
        justify-content: center;
    }
}

.button .text>span[data-v-e3fde6b2]:first-child {
    align-items: center;
    display: flex;
    justify-content: flex-start;
    margin-right: .5rem;
    overflow: hidden;
    position: relative;
    white-space: nowrap;
}

@media (min-width: 1024px) {
    .button .text>span[data-v-e3fde6b2]:first-child:before {
        color: var(--c-white);
        content: attr(data-label);
        display: block;
        opacity: 0;
        position: absolute;
        transform: translateY(100%) translateZ(0);
        transition: opacity .3s var(--f-cubic), transform .3s var(--f-cubic);
        width: 100%;
    }

}

.button .text > span[data-v-e3fde6b2]:first-child {
    opacity: 0; /* Initial state */
    transform: translateY(100%);
    transition: opacity 0.3s ease, transform 0.3s ease; /* Use clear easing */
}

.button:hover .text > span[data-v-e3fde6b2]:first-child {
    opacity: 1; /* Make it visible on hover */
    transform: translateY(0); /* Move into view */
}


.button .text>span:first-child span[data-v-e3fde6b2] {
    display: block;
    transform: translate(0) translateZ(0);
    transition: opacity .3s var(--f-cubic), transform .3s var(--f-cubic);
}

@media (min-width: 1024px) {
    .button .text .-mm[data-v-e3fde6b2] {
        transition: color .3s var(--f-cubic);
    }
}

.button .text .-mm[data-v-e3fde6b2] {
    display: block;
    position: relative;
}

.-mm {
    color: inherit;
    font-size: .6rem;
    line-height: 1.5rem;
}

.button svg[data-v-e3fde6b2-s] {
    fill: var(--c-green);
    margin-left: auto;
    margin-right: -.5rem;
    position: relative;
    transform: translateZ(0);
    width: 2rem;
}

svg {
    fill: var(--c-black);
    aspect-ratio: 1 / 1;
    transform: translateZ(0);
}

img, svg {
    display: block;
    width: 100%;
}

.form-cta:after {
    animation: blink-3089695e 1.5s ease-out infinite;
    background-color: var(--c-green);
    border-radius: 50%;
    content: "";
    display: block;
    height: .5rem;
    position: absolute;
    right: .75rem;
    top: .75rem;
    width: .5rem;
}