

@keyframes randomizerBe-8302dbff {
    0% {
        opacity: 1;
        transform: scale(1);
    }
    25% {
        opacity: 0.75;
        transform: scale(1.2);
    }
    50% {
        opacity: 0.5;
        transform: scale(0.8);
    }
    75% {
        opacity: 0.25;
        transform: scale(1.5);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes randomizer-8302dbff {
    0% {
        transform: rotate(0) translateZ(0);
    }
    100% {
        transform: rotate(1turn) translateZ(0);
    }
}

@property
    --a{
    syntax: "<angle>";
    inherits: false;
    initial-value: 0deg;
    }


.page{
    contain: none;
    position: relative;
}

.ai-act-wrap{
    --string-progress: 0;
    position: relative;
}

.ai-act-wrap .ai-bg{
    align-items: center;
    contain: paint;
    display: flex;
    height: 150vh;
    height: calc(var(--vh, 1vh)* 150);
    justify-content: center;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.ai-act-wrap .ai-bg.-inview span[data-v-8302dbff]:first-child {
    animation: randomizer-8302dbff 12s linear infinite reverse !important;
}


.ai-act-wrap .ai-bg.-inview span[data-v-8302dbff]:first-child:before {
    content: ''; 
    animation: randomizerBe-8302dbff 9s ease-in-out infinite;
}

@media (min-width: 1024px) {
    .ai-act-wrap .ai-bg span[data-v-8302dbff]:first-child {
        width: 8%;
    }
}

.ai-act-wrap .ai-bg span[data-v-8302dbff]:first-child {
    transform-origin: 100% 80%;
}

.ai-act-wrap .ai-bg span[data-v-8302dbff] {
    display: block;
    position: absolute;
}



.ai-act-wrap .ai-bg span[data-v-8302dbff]:before {
    background-color: var(--c-green);
    border-radius: 50%;
    content: "";
    display: block;
    padding-bottom: 100%;
    width: 100%;
}
.ai-act-wrap .ai-bg.-inview span[data-v-8302dbff] {
    animation: randomizer-8302dbff 9s linear infinite !important
}

.ai-act-wrap .ai-bg.-inview span[data-v-8302dbff]:before {
    animation: randomizerBe-8302dbff 12s ease-in-out infinite;
}
.ai-act-wrap .ai-bg span[data-v-8302dbff]:before {
    background-color: var(--c-green);
    border-radius: 50%;
    content: "";
    display: block;
    padding-bottom: 100%;
    width: 100%;
}

@media (min-width: 1024px) {
    .ai-act-wrap .ai-bg span[data-v-8302dbff] {
        top: 30%;
        transform-origin: 100% 80%;
        width: 13%;
    }
}

.ai-act-wrap .ai-bg.-inview span[data-v-8302dbff]:last-child {
    animation: randomizer-8302dbff 6s linear infinite !important
}
@media (min-width: 1024px) {
    .ai-act-wrap .ai-bg span[data-v-8302dbff]:last-child {
        width: 10%;
    }
}
.ai-act-wrap .ai-bg span[data-v-8302dbff]:last-child {
    transform-origin: 20% 40%;
}
@media (min-width: 1024px) {
    .ai-act-wrap .ai-bg[data-v-8302dbff]:after {
        -webkit-backdrop-filter: blur(2rem);
        backdrop-filter: blur(2rem);
    }
}

.ai-act-wrap .ai-bg.-inview span[data-v-8302dbff]:last-child:before {
    animation: randomizerBe-8302dbff 15s ease-in-out infinite;
}
.ai-act-wrap .ai-bg span[data-v-8302dbff]:last-child:before {
    background-color: var(--c-blue-light);
}



.ai-bg:after {
    -webkit-backdrop-filter: blur(2rem);
    backdrop-filter: blur(2rem);
    background-color:rgba(244,249,248,calc(.1 + var(--string-progress)*.9));
    content: "";
    display: table;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
@media (min-width: 1024px) {
     .ai-bg:after {
        -webkit-backdrop-filter: blur(2rem);
        backdrop-filter: blur(2rem);
    }
}
@media (min-width: 720px) {
    .ai-bg:after {
        -webkit-backdrop-filter: blur(4rem);
        backdrop-filter: blur(4rem);
   }
}

.ai-act-wrap .c-welcome[data-v-8302dbff] {
    contain: paint;
    position: relative;
}

.ai-act-wrap .c-welcome .-w[data-v-8302dbff] {
    display: flex;
    flex-direction: column;
    height: 90vh;
    height: calc(var(--vh, 1vh)* 90);
    justify-content: flex-start;
    min-height: 780px;
}

@media (min-width: 1024px) {
    .ai-act-wrap .c-welcome .-w[data-v-8302dbff] {
        height: 100vh;
        height: calc(var(--vh, 1vh)* 100);
    }
}

@media (min-width: 1024px) and (min-height: 640px) {
    .-w {
        margin-left: 6%;
        margin-right: 6%;
    }
}

.-w-in{
    margin-left: -.5rem;
    width: 100%;
    width: calc(100% + 1rem);
    text-align: center;
    padding-top: clamp(7rem, 10%, 10%);
}

.head-1{
    font-size: 3.988rem;
    line-height: 1;
    display: block;
    margin-bottom: 1.2rem;
}

@media (min-width: 1024px) {
    .-w-in>span[data-v-8302dbff] {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 1rem;
        width: 45.07042254%;
        font-weight: 400;
    }
}

.para-1{
    font-size: 1rem;
    margin: 0px 20rem 1rem 20rem;
    position: relative;
    text-align: center;
}

@media(min-width:720px) and (max-width:1500px){
    .para-1{
        font-size: 1rem;
        margin: 0px 10rem 1rem 10rem;
    }
}