

@keyframes randomizerBe-8302dbff {
    0% {
        opacity: 1;
        transform: scale(1);
    }
    25% {
        opacity: 0.75;
        transform: scale(1.2);
    }
    50% {
        opacity: 0.5;
        transform: scale(0.8);
    }
    75% {
        opacity: 0.25;
        transform: scale(1.5);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes randomizer-8302dbff {
    0% {
        transform: rotate(0) translateZ(0);
    }
    100% {
        transform: rotate(1turn) translateZ(0);
    }
}

@keyframes blink-3089695e {
    0% {
        opacity: 1;
        transform: scale(1.5);
    }
    1% {
        opacity: 1;
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(1);
    }
}

@keyframes swing {
    0% {
        transform: translate3d(50%, 0, 0);
    }
    50% {
        transform: translate3d(-50%, 0, 0);
    }
    100% {
        transform: translate3d(50%, 0, 0);
    }
}

@keyframes colorControls-c7750596{
    0% {
        box-shadow: inset .2rem .2rem .75rem rgba(var(--c-green-rgb),.4), inset -.2rem -.2rem .75rem rgba(var(--c-blue-light-rgb),.4), inset 1rem 0 2rem rgba(var(--c-yellow-rgb),.4);
        rotate: 0deg;
    }
    20% {
        box-shadow: inset -.5rem .2rem .25rem rgba(var(--c-green-rgb),0), inset .5rem .2rem .75rem rgba(var(--c-blue-light-rgb),.4), inset -.2rem -.5rem .25rem rgba(var(--c-yellow-rgb),.1);
    }
    40% {
        box-shadow: inset -.2rem -.2rem .75rem rgba(var(--c-green-rgb),.9), inset .2rem .2rem .75rem rgba(var(--c-blue-light-rgb),.1), inset -.2rem 0 1rem rgba(var(--c-yellow-rgb),.9);
    }
    60% {
        box-shadow: inset 0 -.5rem 1.2rem rgba(var(--c-green-rgb),.4), inset 0 0 .25rem rgba(var(--c-blue-light-rgb),.9), inset .5rem -.25rem .25rem rgba(var(--c-yellow-rgb),0);
    }
    100% {
        box-shadow: inset .2rem .2rem .75rem rgba(var(--c-green-rgb),.4), inset -.2rem -.2rem .75rem rgba(var(--c-blue-light-rgb),.4), inset 1rem 0 2rem rgba(var(--c-yellow-rgb),.4);
        rotate: 1turn;
    }
}

@keyframes rotate{
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(1turn);
    }
}

@property
    --a{
    syntax: "<angle>";
    inherits: false;
    initial-value: 0deg;
    }

    .ai_act_wrap{
        background-color: var(--c-grey-light);
    }


.page{
    contain: none;
    position: relative;
}

.ai_act_wrap{
    --string-progress: 0;
    position: relative;
}

.ai_act_wrap .ai-bg{
    align-items: center;
    contain: paint;
    display: flex;
    height: 150vh;
    height: calc(var(--vh, 1vh)* 150);
    justify-content: center;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.ai_act_wrap .ai-bg span[data-v-8302dbff]:first-child {
    animation: randomizer-8302dbff 12s linear infinite reverse !important;
}


.ai_act_wrap .ai-bg.-inview span[data-v-8302dbff]:first-child:before {
    content: ''; 
    animation: randomizerBe-8302dbff 9s ease-in-out infinite;
}

@media (min-width: 1024px) {
    .ai_act_wrap .ai_bgspan[data-v-8302dbff]:first-child {
        width: 8%;
    }
}

.ai_act_wrap .ai_bgspan[data-v-8302dbff]:first-child {
    transform-origin: 100% 80%;
}

.ai_act_wrap .ai_bgspan[data-v-8302dbff] {
    display: block;
    position: absolute;
}



.ai_act_wrap .ai_bgspan[data-v-8302dbff]:before {
    background-color: var(--c-green);
    border-radius: 50%;
    content: "";
    display: block;
    padding-bottom: 100%;
    width: 100%;
}
.ai_act_wrap .ai-bg span[data-v-8302dbff] {
    animation: randomizer-8302dbff 9s linear infinite !important
}

.ai_act_wrap .ai-bg span[data-v-8302dbff]:before {
    animation: randomizerBe-8302dbff 12s ease-in-out infinite;
}
.ai_act_wrap .ai_bgspan[data-v-8302dbff]:before {
    background-color: var(--c-green);
    border-radius: 50%;
    content: "";
    display: block;
    padding-bottom: 100%;
    width: 100%;
}

@media (min-width: 1024px) {
    .ai_act_wrap .ai_bgspan[data-v-8302dbff] {
        top: 30%;
        transform-origin: 100% 80%;
        width: 13%;
    }
}

.ai_act_wrap .ai_bg span[data-v-8302dbff]:last-child {
    animation: randomizer-8302dbff 6s linear infinite !important
}
@media (min-width: 1024px) {
    .ai_act_wrap .ai_bgspan[data-v-8302dbff]:last-child {
        width: 10%;
    }
}
.ai_act_wrap .ai_bgspan[data-v-8302dbff]:last-child {
    transform-origin: 20% 40%;
}
@media (min-width: 1024px) {
    .ai_act_wrap .ai_bg[data-v-8302dbff]:after {
        -webkit-backdrop-filter: blur(2rem);
        backdrop-filter: blur(2rem);
    }
}

.ai_act_wrap .ai_bg span[data-v-8302dbff]:last-child:before {
    animation: randomizerBe-8302dbff 15s ease-in-out infinite;
}
.ai_act_wrap .ai_bgspan[data-v-8302dbff]:last-child:before {
    background-color: var(--c-blue-light);
}



.ai_bg:after {
    -webkit-backdrop-filter: blur(2rem);
    backdrop-filter: blur(2rem);
    background-color:rgba(244,249,248,calc(.1 + var(--string-progress)*.9));
    content: "";
    display: table;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
@media (min-width: 1024px) {
     .ai_bg:after {
        -webkit-backdrop-filter: blur(2rem);
        backdrop-filter: blur(2rem);
    }
}
@media (min-width: 720px) {
    .ai_bg:after {
        -webkit-backdrop-filter: blur(4rem);
        backdrop-filter: blur(4rem);
   }
}

.ai_act_wrap .c_welcome[data-v-8302dbff] {
    contain: paint;
    position: relative;
    height: 1000px;
}

.ai_act_wrap .c_welcome .w[data-v-8302dbff] {
    display: flex;
    flex-direction: column;
    height: 90vh;
    height: calc(var(--vh, 1vh)* 90);
    justify-content: flex-start;
    min-height: 780px;
}

@media (min-width: 1024px) {
    .ai_act_wrap .c_welcome .w[data-v-8302dbff] {
        height: 100vh;
        height: calc(var(--vh, 1vh)* 100);
    }
}

.w {
    margin-left: 1rem;
    margin-right: 1rem;
}

@media (min-width: 1024px) and (min-height: 640px) {
    .w {
        margin-left: 6%;
        margin-right: 6%;
    }
}

.w_in{
    margin-left: -.5rem;
    width: 100%;
    width: calc(100% + 1rem);
    text-align: center;
    padding-top: clamp(7rem, 10%, 10%);
}

.head_1{
    font-size: 3.988rem;
    line-height: 1;
    display: block;
    margin-bottom: 1.2rem;
}

@media (min-width: 1024px) {
    .w_in>span[data-v-8302dbff] {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 1rem;
        width: 45.07042254%;
        font-weight: 400;
    }
}

.para_1{
    font-size: 1rem;
    margin: 0px 20rem 1rem 20rem;
    position: relative;
    text-align: center;
}

@media(min-width:720px) and (max-width:1500px){
    .para_1{
        font-size: 1rem;
        margin: 0px 10rem 1rem 10rem;
    }
}

.ai_act_wrap .c_welcome .w .w_in p span[data-v-8302dbff] {
    align-items: center;
    display: flex;
    padding: 0 .5rem;
    white-space: nowrap;
}

.para_2{
    color: var(--c-grey-dark);
    font-size: .7rem;
    line-height: 1.5;
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 20rem;
    padding-right: 2rem;
}
@media(min-width:720px) and (max-width:1500px){
    .para_2{
        font-size: .7rem;
        margin: 0px 10rem 1rem 10rem;
    }
}

.downImage{
    margin-right: 5px;
}

.ai_act_wrap .c_welcome .w .w_in p span[data-v-8302dbff] .downImage{
    width: 2rem;
}

.a_to_top_s_out {
    filter: blur(1rem);
    opacity: 0;
    transform: translateY(calc(var(--l-modifier)* 4rem)) scale(calc(var(--l-modifier)* 1.5));
}

.ai_act_wrap.-loaded.-ready .a_to_top_s_out{
    filter: blur(0);
    opacity: 1;
    transform: translateZ(0);
    transition: transform .9s var(--f-cubic), opacity .9s var(--f-cubic), filter .9s var(--f-cubic);
    transition-delay: calc(var(--l-delay)* 1s + .15s);
}
.head_1{
    --l-modifier: 1;
    --l-delay: 0;
}

.footer_1{
    --l-modifier: 1;
    --l-delay: 0;
}

@media (min-width: 1024px) {
    .ai_act_wrap .c_welcome .w .footer_1[data-v-8302dbff] {
        align-items: flex-end;
        display: flex;
        justify-content: space-between;
        padding-bottom: 1rem;
        position: relative;
    }
}

.ai_act_wrap .c_welcome .w .footer_1[data-v-8302dbff] {
    margin-top: 350px;
}

.ai_act_wrap .c_welcome .w .footer_1 .form_wrap[data-v-8302dbff] {
    width: 100%;
}

.form_wrap{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 13rem;

}

@media (min-width: 1442px) {
    .ai_act_wrap .c_welcome .w .footer_1 .form_wrap .form_cta[data-v-8302dbff] {
        max-width: 20rem;
        width: 28.16901408%;
    }
}

@media (min-width: 1024px) {
    .ai_act_wrap .c_welcome .w .footer_1 .form_wrap .form_cta[data-v-8302dbff] {
        width: 32.3943662%;
    }
}

@media (min-width: 720px) {
    .ai_act_wrap .c_welcome .w .footer_1 .form_wrap .form_cta[data-v-8302dbff] {
        width: 49.29577465%;
    }
}

.ai_act_wrap .c_welcome .w .footer_1 .form_wrap .form_cta[data-v-8302dbff] {
    box-sizing: border-box;
}

@media (min-width: 1442px) {
    .ai_act_wrap .c_welcome .w .footer_1 .form_wrap .form_cta[data-v-8302dbff] {
        max-width: 20rem;
        width: 28.16901408%;
    }
}

@media (min-width: 1024px) {
    .ai_act_wrap .c_welcome .w .footer_1 .form_wrap .form_cta[data-v-8302dbff] {
        width: 32.3943662%;
    }
}

.ai_act_wrap .-loaded.-ready .footer_1{
    opacity: 1;
    transform: translateZ(0);
    transition: transform .9s var(--f-cubic), opacity .9s var(--f-cubic);
    transition-delay: calc(var(--l-delay)* 1s + .15s);
}

.ai_act_wrap .c_welcome .w .footer_1 .form_wrap .form_cta[data-v-8302dbff] {
    transform: translateY(100px); /* Initial state */
    transition: transform 0.6s var(--f-smooth);
}

@media (min-width: 1024px) {
    .ai_act_wrap.-loaded.-ready .c_welcome .w .footer_1 .form_wrap .form_cta[data-v-8302dbff] {
        transform: translate(0);
        transition: transform 0.6s var(--f-smooth);
        transition-delay: 0s;
    }
}

.form_cta {
    background-color: var(--c-white);
    -webkit-mask: url(../sec_1/images/r30-black.svg);
    mask: url(../sec_1/images/r30-black.svg);
    overflow: hidden;
    padding: .5rem 1rem 1rem;
    position: relative;
}

 .form  {
    position: relative;
}

.form_cta .form .sec1_header .sec1_figure[data-v-3089695e] {
    margin-right: .5rem;
    width: 3rem;
}

.sec1_h5 {
    font-size: 1.414rem;
}

.-h4, .-h5{
    line-height: 1.25;
}

.-h1, .-h2, .-h3, .-h4, .-h5, .-h6 {
    display: block;

}

.sec1_header {
    align-items: center;
    display: flex;
    margin-bottom: .25rem;
}

.sec1_figure {
    margin-right: .5rem;
    width: 3rem;
}

.sec1_figure {
    display: block;
    margin-block-end: 0;
    margin-block-start: 0;
    margin-inline-end: 0;
    margin-inline-start: 0;
}

@media (min-width: 1024px) {
    .button[data-v-e3fde6b2] {
        min-width: 10rem;
    }
}

.button[data-v-e3fde6b2] {
    align-items: center;
    background-color: rgba(var(--c-grey-light-rgb), .1);
    box-sizing: border-box;
    color: var(--c-green);
    cursor: pointer;
    display: flex;
    justify-content: center;
    -webkit-mask: url(../sec_1/images/r30-black.svg);
    mask: url(../sec_1/images/r30-black.svg);
    min-width: 13rem;
    overflow: hidden;
    padding: .45rem 1.1rem;
    position: relative;
}

.m, .p {
    line-height: 1.5;
}

.p {
    display: block;
    font-size: 1rem;
}

.button p b {
    color: var(--c-black);
    text-decoration: none;
}

.button[data-v-e3fde6b2]:before {
    background-color: var(--c-black);
    bottom: 2px;
    content: "";
    left: 2px;
    -webkit-mask: url();
    mask: url(../sec_1/images/r30-black.svg);
    position: absolute;
    right: 2px;
    top: 2px;
    border-radius: 9px;
}

@media (min-width: 1024px) {
    .button .text[data-v-e3fde6b2] {
        align-items: center;
        flex-direction: row;
        justify-content: flex-start;
    }
}

.button .text[data-v-e3fde6b2] {
    align-items: flex-start;
    display: flex;
    justify-content: center;
    margin-right: auto;
    min-height: 2rem;
    padding: .25rem 0;
}

@media (min-width: 1024px) {
    .button .text>span[data-v-e3fde6b2]:first-child {
        justify-content: center;
    }
}

.button .text>span[data-v-e3fde6b2]:first-child {
    align-items: center;
    display: flex;
    justify-content: flex-start;
    margin-right: .5rem;
    overflow: hidden;
    position: relative;
    white-space: nowrap;
}
@media (min-width: 1024px) {
    /* Initial setup for before element */
    .button .text > span[data-v-e3fde6b2]:first-child:before {
        color: var(--c-white);
        content: attr(data-label); /* Show the label */
        display: block;
        opacity: 0; /* Initially hidden */
        position: absolute;
        transform: translateY(100%) translateZ(0); /* Initially out of view */
        transition: opacity .3s var(--f-cubic), transform .3s var(--f-cubic); /* Smooth transition */
        width: 100%;
    }

    /* On hover, reveal the :before element */
    .button .text > span[data-v-e3fde6b2]:first-child:hover:before {
        opacity: 1; /* Make it visible */
        transform: translateY(0) translateZ(0); /* Bring it into view */
    }

    /* Original text visibility */
    .button .text > span[data-v-e3fde6b2]:first-child span[data-v-e3fde6b2] {
        display: block;
        opacity: 1; /* Visible by default */
        transition: opacity .3s var(--f-cubic), transform .3s var(--f-cubic); /* Smooth transition */
    }

    /* Hide the original text when hovering */
    .button .text > span[data-v-e3fde6b2]:first-child:hover span[data-v-e3fde6b2] {
        opacity: 0; /* Hide the original text on hover */
        transition-delay: 0s; /* No delay when hiding */
    }

    /* Show 'Risk Free' text by default */
    .button .text > span[data-v-e3fde6b2]:first-child ~ .mm[data-v-e3fde6b2] {
        opacity: 1; /* Show by default */
        transform: translateY(0); /* Set to original position */
        transition: opacity .3s var(--f-cubic), transform .3s var(--f-cubic); /* Smooth transition */
    }

    /* Transition to hide 'Risk Free' when hovering */
    .button .text > span[data-v-e3fde6b2]:first-child:hover ~ .mm[data-v-e3fde6b2] {
        opacity: 0; /* Hide 'Risk Free' */
        transform: translateY(20px); /* Move down to hide */
        transition: opacity .3s var(--f-cubic), transform .3s var(--f-cubic); /* Smooth transition */
    }

    /* Show 'Risk Free' text with transition effect on hover */
    .button .text > span[data-v-e3fde6b2]:first-child:hover ~ .mm[data-v-e3fde6b2] {
        opacity: 1; /* Make it visible */
        transform: translateY(0) translateZ(0); /* Bring it into view */
        color: var(--c-white); /* Change color on hover */
        transition: opacity .3s var(--f-cubic), transform .3s var(--f-cubic); /* Same transition */
    }

    /* SVG transition when hovering */
    .button svg[data-v-e3fde6b2-s] {
        opacity: 1; /* Default state */
        transition: opacity 0.3s ease; /* Define transition */
    }

    /* Hide the SVG on hover */
    .button:hover svg[data-v-e3fde6b2-s] {
        fill: var(--c-white); /* Change color on hover */
        transition: opacity .3s var(--f-cubic), transform .3s var(--f-cubic); /* Same transition */
    }

    /* Reset SVG when not hovering */
    .button:not(:hover) svg[data-v-e3fde6b2-s] {
        opacity: 1; /* Ensure it returns to visible */
    }
}


@media (min-width: 1024px) {
    .button .text .mm[data-v-e3fde6b2] {
        transition: color .3s var(--f-cubic);
    }
}

.button .text .mm[data-v-e3fde6b2] {
    display: block;
    position: relative;
}

.mm {
    color: inherit;
    font-size: .6rem;
    line-height: 1.5rem;
}

.button svg[data-v-e3fde6b2-s] {
    fill: var(--c-green);
    margin-left: auto;
    margin-right: -.5rem;
    position: relative;
    transform: translateZ(0);
    width: 2rem;
}

.svg_icon {
    fill: var(--c-black);
    aspect-ratio: 1 / 1;
    transform: translateZ(0);
}

.svg_icon {
    display: block;
    width: 100%;
}

.form_cta:after {
    animation: blink-3089695e 1.5s ease-out infinite;
    background-color: var(--c-green);
    border-radius: 50%;
    content: "";
    display: block;
    height: .5rem;
    position: absolute;
    right: .75rem;
    top: .75rem;
    width: .5rem;
}

@media (min-width: 1024px) {
    .ai_act_wrap .c_welcome .w footer .scroll[data-v-8302dbff] {
        bottom: 2.5rem;
    }
}

@media (min-width: 720px) {
    .ai_act_wrap .c_welcome .w footer .scroll[data-v-8302dbff] {
        align-items: center;
        bottom: 1.5rem;
        display: flex;
        justify-content: space-between;
        position: absolute;
        right: 0;
        margin-bottom: 50px;
    }
}

.ai_act_wrap .c_welcome .w footer .scroll[data-v-8302dbff] {
    display: none;
}

@media (min-width: 1024px) {
    .ai_act_wrap .c_welcome .w footer .scroll[data-v-8302dbff] {
        bottom: 2.5rem;
    }
}

@media (min-width: 720px) {
    .ai_act_wrap .c_welcome .w footer .scroll[data-v-8302dbff] {
        align-items: center;
        bottom: 1.5rem;
        display: flex;
        justify-content: space-between;
        position: absolute;
        right: 0;
    }
}

@media (min-width: 720px) {
    .ai_act_wrap .c_welcome .w footer .scroll .downArr{
        animation: swing 1.2s ease-in-out infinite;
        rotate: 90deg;
        width: 2rem;
    }
}

.downArr{
    display: block;
    --l-delay: 0.075;
}

@media (min-width: 720px) {
    .ai_act_wrap .c_welcome .w footer .scroll span[data-v-8302dbff] {
        color: var(--c-grey-dark);
        display: block;
        line-height: 1.2;
        margin-left: 1rem;
    }
}

.m {
    color: var(--c-grey-dark);
    font-size: .7rem;
}

.ai_act_wrap .ai_action[data-v-8302dbff] {
    height: 100%;
    left: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 90;
}

html.-loaded.-ready .-a-scale-in.-inview, html.-loaded.-ready .-a-scale-out.-inview, html.-loaded.-ready .-a-to-bottom.-inview, html.-loaded.-ready .a_to_top {
    opacity: 1;
    transform: translateZ(0);
    transition: transform .9s var(--f-cubic), opacity .9s var(--f-cubic);
    transition-delay: calc(var(--l-delay)* 1s + .15s);
}

@media (min-width: 1024px) {
    .ai_act_wrap .ai_action .stick[data-v-8302dbff] {
        height: 100vh;
        height: calc(var(--vh, 1vh)* 100);
    }
}

.ai_act_wrap .ai_action .stick[data-v-8302dbff] {
    align-items: flex-end;
    display: flex;
    height: 90vh;
    height: calc(var(--vh, 1vh)* 90);
    justify-content: center;
    min-height: 780px;
}

@media (min-width: 1024px) {
    .ai_act_wrap .ai_action .stick[data-v-8302dbff] {
        height: 100vh;
        height: calc(var(--vh, 1vh)* 100);
    }
}
.-a-scale-in, .-a-scale-out, .-a-to-bottom, .-a-to-bottom100, .a_to_top, .a_to_top-s-in, .a_to_top_s_out, .a_to_top100 {
    --l-modifier: 1;
    --l-delay: 0;
}

@media (min-width: 1024px) {
    .wrap[data-v-c7750596] {
        bottom: 30%;
    }
}

.wrap[data-v-c7750596] {
    --volume: 0;
    align-items: center;
    bottom: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    top:300px;
    transition: bottom .6s var(--f-smooth), transform .6s var(--f-smooth);
    transition-delay: 0s;
    width: 100%;
    height: 450px;
}

@media (min-width: 720px) {
    .ai_act_wrap {
        font-size: 18px;
        line-height: 1.5;
    }
}

.wrap[data-v-c7750596]:after {
    background-image: linear-gradient(to right, rgba(var(--c-black-rgb),0) 25%, rgba(var(--c-black-rgb),.3 ) 50%, rgba(var(--c-black-rgb),0) 75%), linear-gradient(to right, rgba(var(--c-green-rgb),.2) 0, rgba(var(--c-green-rgb),1) 50%, rgba(var(--c-green-rgb),.2) 100%);
    content: "";
    display: block;
    height: 4px;
    position: absolute;
    transform: scale(1) translateZ(0);
    transition: transform .9s var(--f-smooth);
    transition-delay: .3s;
    width: 100%;
    z-index: 10;
}
.voice_line[data-v-ebeacc6c] {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    left: 0;
    -webkit-mask-image: linear-gradient(90deg, transparent, #000, transparent);
    mask-image: linear-gradient(90deg, transparent, #000, transparent);
    position: absolute;
    top: 2.5%;
    transform: scale(1) translateZ(0);
    transition: transform .9s var(--f-smooth);
    transition-delay: .3s;
    width: 100%;
    z-index: 0;
}

.client {
    overflow-clip-margin: content-box;
    overflow: clip;
}

.wrap button[data-v-c7750596], .wrap button>canvas[data-v-c7750596] {
    transform: scale(1) translateZ(0);
    transition: transform .6s var(--f-smooth);
    transition-delay: 0s;
}

.wrap button[data-v-c7750596] {
    align-items: center;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    pointer-events: all;
    position: relative;
    width: 6rem;
    z-index: 20;
}
.animation_button {
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;
    background: transparent;
    border: none;
    color: inherit;
    cursor: pointer;
    font: inherit;
    line-height: normal;
    margin: 0;
    overflow: visible;
    padding: 0;
    width: auto;
}

@media (min-width: 1024px) {
    .wrap button .ai[data-v-c7750596], .wrap button>canvas[data-v-c7750596] {
        transform: scale(1);
        transition: transform .9s var(--f-cubic);
    }
}

.wrap button>canvas[data-v-c7750596] {
    pointer-events: none;
    position: absolute;
}

@media (min-width: 1024px) {
    .wrap button .ai[data-v-c7750596], .wrap button>canvas[data-v-c7750596] {
        transform: scale(1);
        transition: transform .9s var(--f-cubic);
    }
}
.wrap button .ai[data-v-c7750596] {
    align-items: center;
    background-color: var(--c-black);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    padding: 50% 0;
    position: relative;
    scale: calc(1 + var(--volume) / 3);
    width: 100%;
}
.wrap button .ai[data-v-c7750596]:after, .wrap button .ai[data-v-c7750596]:before {
    border-radius: 50%;
    content: "";
    display: block;
    opacity: 0;
    position: absolute;
}
.wrap button .ai[data-v-c7750596]:before {
    animation: colorControls-c7750596 3s ease-in-out infinite;
    box-shadow: inset .2rem .2rem .75rem rgba(var(--c-green-rgb), .5), inset -.2rem -.2rem .75rem rgba(var(--c-blue-light-rgb), .5), inset 2rem 0 1rem rgba(var(--c-yellow-rgb), .5);
    height: 100%;
    scale: 1.5;
    transition: scale .3s var(--f-cubic), opacity .3s var(--f-cubic);
    width: 100%;
}
.wrap button .ai .client[data-v-c7750596] {
    background-image: radial-gradient(rgba(var(--c-green-rgb), 1), rgba(var(--c-yellow-rgb), 0) 60%);
    border-radius: 50%;
    display: block;
    height: 100%;
    mix-blend-mode: lighten;
    opacity: var(--volume);
    position: absolute;
    width: 100%;
    z-index: 20;
}
@media (min-width: 1024px) {
    .wrap button .ai[data-v-c7750596] canvas {
        transform: scale(.7);
        transition: transform .9s var(--f-cubic);
    }
}
.wrap button .ai[data-v-c7750596] canvas {
    pointer-events: none;
    position: absolute;
    transform: scale(.6);
}
.wrap button .ai[data-v-c7750596]:after {
    animation: rotate .3s linear infinite;
    animation-play-state: paused;
    background-image: conic-gradient(rgba(var(--c-green-rgb), 0), rgba(var(--c-green-rgb), 1));
    height: 90%;
    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    padding: 2px;
    width: 90%;
}
.wrap button .ai[data-v-c7750596]:after, .wrap button .ai[data-v-c7750596]:before {
    border-radius: 50%;
    content: "";
    display: block;
    opacity: 0;
    position: absolute;
}

@media (min-width: 1024px) {
    .wrap .pointer[data-v-c7750596] {
        top: 7rem;
    }
}
.wrap .pointer[data-v-c7750596] {
    display: inline-block;
    opacity: 1;
    pointer-events: none;
    position: absolute;
    top: 8rem;
    transform: scale(1) translateZ(0);
    transform-origin: 50% 150%;
    transition: transform .3s var(--f-cubic), opacity .3s var(--f-cubic);
}
html.-loaded.-ready .-a-scale-in.-inview, html.-loaded.-ready .-a-scale-out.-inview, html.-loaded.-ready .-a-to-bottom.-inview, html.-loaded.-ready .a_to_top.-inview {
    opacity: 1;
    transform: translateZ(0);
    transition: transform .9s var(--f-cubic), opacity .9s var(--f-cubic);
    transition-delay: calc(var(--l-delay)* 1s + .15s);
}
.wrap .pointer .upArr[data-v-c7750596] {
    fill: var(--c-grey-dark);
    margin-left: auto;
    margin-right: auto;
    width: 1rem;
}

html.-loaded.-ready .a_to_top.-inview {
    opacity: 1;
    transform: translateZ(0);
    transition: transform .9s var(--f-cubic), opacity .9s var(--f-cubic);
    transition-delay: calc(var(--l-delay)* 1s + .15s);
}

.wrap .pointer span[data-v-c7750596] {
    display: block;
    position: relative;
    top: 190px;
    left: 4px;
}
.m {
    color: var(--c-grey-dark);
    font-size: .7rem;
}

.wrap[data-v-c7750596]:after {
    background-image: linear-gradient(to right, rgba(var(--c-black-rgb), 0) 25%, rgba(var(--c-black-rgb), .3) 50%, rgba(var(--c-black-rgb), 0) 75%), linear-gradient(to right, rgba(var(--c-green-rgb), .2) 0, rgba(var(--c-green-rgb), 1) 50%, rgba(var(--c-green-rgb), .2) 100%);
    content: "";
    display: block;
    height: 4px;
    position: absolute;
    transform: scale(1) translateZ(0);
    transition: transform .9s var(--f-smooth);
    transition-delay: .3s;
    width: 100%;
    z-index: 10;
}

.voice_line[data-v-ebeacc6c] {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    left: 0;
    -webkit-mask-image: linear-gradient(90deg, transparent, #000, transparent);
    mask-image: linear-gradient(90deg, transparent, #000, transparent);
    position: absolute;
    top: 2.5%;
    transform: scale(1) translateZ(0);
    transition: transform .9s var(--f-smooth);
    transition-delay: .3s;
    width: 100%;
    z-index: 0;
}
  
.wrap .pointer .upArr {
    fill: var(--c-grey-dark);
    margin-left: auto;
    margin-right: auto;
    width: 1rem;
    position: relative;
    top: 190px;
    left: 4px;
}

.animation_class{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

@media(min-height:320px) and (max-heaight:720px){
    .canvas-animation{
        height: 170px;
    }
}